[Desktop Entry]
Comment=A theme based on Catppuccin's Mocha flavour
Name=Catppuccin Mocha
X-KDE-PluginInfo-Author=Catppuccin
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=--------
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-Name=Catppuccin-Mocha
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=github.com/catppuccin/KDE
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=kns://plasma-themes.knsrc/api.kde-look.org/1879921
