[Desktop Entry]
Name=CatppuccinMocha-Modern
Comment=Soothing Pastel theme for Kwin
X-KDE-PluginInfo-Author=Cequal-Catppuccin
X-KDE-PluginInfo-Email=core@catppuccin.com
X-KDE-PluginInfo-Name=CatppuccinMocha-Modern
X-KDE-PluginInfo-Version=0.2.6
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=
X-KDE-PluginInfo-EnabledByDefault=true
