[Desktop Entry]
Comment=A splash screen based on Catppuccin's --flavour flavour
Name=Catppuccin --flavour --accentName
X-KDE-PluginInfo-Author=KDE-Catppuccin
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=core@catppuccin.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-Name=Catppuccin---flavour---accentName-splash
X-KDE-PluginInfo-Version=0.2.4
X-KDE-PluginInfo-Website=github.com/catppuccin/KDE
X-KDE-ServiceTypes=Plasma/LookAndFeel
