[Desktop Entry]
Name=Catppuccin Macchiato Classic
Comment=Soothing Pastel theme for Kwin
X-KDE-PluginInfo-Author=Sourcastic-Catppuccin
X-KDE-PluginInfo-Email=core@catppuccin.com
X-KDE-PluginInfo-Version=0.2.4.1
X-KDE-PluginInfo-Name=CatppuccinMacchiato-Classic
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-EnabledByDefault=true
